@import "bootstrap";
@import "tether";


.pic1{
  padding: 40px;
}
.pic2{
  border: 1px solid #bfbcbc;
  margin-top: -33px;
}
.dropdown-show
{
  margin-left: 30px;
  margin-top: -15px;


}
.pic3{
     padding: 30px;
    margin-left: -30px;
}
h3{
  color: #26467d;

}
.bk{
  margin-top:-2%;
}
.a{
   margin-top: -12px;
    border: 1px solid #26467d;
    width: 57px;
}
.b{
    margin-top: -12px;
    border: 1px solid #26467d;
    width: 84%;
}
.c{
      margin-top: -12px;
    border: 1px solid #26467d;
    width: 68%;
}
.d{
    margin-top: -12px;
    border: 1px solid #26467d;
    width: 78%;
}
.e{
    margin-top: -12px;
    border: 1px solid #26467d;
    width: 29%;
}
.f{
     margin-top: -12px;
    border: 1px solid #26467d;
    width: 23%;
}
.aa{
    margin-top: -12px;
    border: 1px solid #26467d;
    width: 45%;
  }
 #n{
  background-color: #f5f5f5;
  margin-left: -85px;
  margin-right: -8%;
 }
#mm{
margin-right: -14px;
margin-left: 61px;

}
.home-your-gov{
  background-image: image-url('pi.png');
      background-position: right center;
    background-repeat: no-repeat;
    background-size: 35%;

}
.brand{
    background-color: #f5f5f5;
    margin-left: -68px;
    margin-right: -100px;
    padding: 23px;
}
.mj{

    border: 1px solid #26467d;
    margin-left: -72px;
    margin-right: -100px;
}
.kk{
      margin-top: 32px;

}
.jj{
  border: 1px solid red;

    margin-right: -38em;

}
.btn-dark
{
  width: 20%;
}
#imi{
  margin-top: 32px;
}
.jk{
    border: 1px solid red;

    margin-right: -2em;
}
.op{

    float: right;
    margin-right: -22em;
    margin-top: -11em;
}
.op1{

    float: right;
    margin-right: -22em;
    margin-top: -13em;
}
.op2{

    float: right;
    margin-right: -3em;
    margin-top: -11em;
}
.uc{
  border: 5px solid #f3f0f0;
}
.jkk{
    border: 1px solid red;

    margin-right: -117%;
}
.op3{

    float: right;
    margin-right: -21em;
    margin-top: -3em;
}
.oo{
  text-align: center;
  font: italic bold 50px Georgia, serif;
}

